@font-face {
  font-family:"DarkSkyrimFont";
  src: url("font/DarkXShadowX21.ttf") format("truetype");
}

body {
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    font-family: "DarkSkyrimFont" !important;
    background-color: #cccccc;
}
html{
  font-family:"DarkSkyrimFont" !important;
}
.modal {
    text-align:center;
}

/*--------General/Global-css---*/
img {
    width:220px;
    
}

* {
  box-sizing: border-box;
}
button{
   border: 7px ridge #7f6515;
  background-color: goldenrod;
  color: black;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  text-align: left;
}
#atkIcon{
    color:red;
}
#inline {
    display: inline-block;
    width: 32%;
    color: red;
    text-align: center;
}
/*--------Start Screen---*/

#characterMenu, #characterMenu .row{
    margin-top:25px;
}

#characterMenu a{
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}
#characterMenu h1{
    font-size: 50px;
    display:inline-block;
    
}
#characterMenu button{
    display: inline-block;
    margin:5px 200px 0px 280px;
}
#modal1{
    text-align:center;
}
.modal-title h3{
    font-weight:600;
    font-size: 80px;
}
.modal-body h3{
    font-weight: 600;
    margin-bottom:20px;
}

/*--------Character Bio--*/
#interface {
    display:none;
    text-align: center;
    margin-left: 80px;
    margin-right: 10px;
}
.fa-arrow-up{
    color:green;
}
.fa-arrow-down{
    color:red;
}

#interface h2{
    text-align:center;
    margin-top: 20px;
    margin-bottom:40px;
    font-size: 50px;
}
.col-3 p{
    font-weight: 600;
    color:black;
    font-size: 28px;
    line-height: 1.7;
    background-color:goldenrod;
    border: 7px ridge #7f6515;
}

#interface .col-6 button{
    margin-top:40px;
}
#letsGo{
    margin-right:120px;
}
#interface i{
    font-size: 30px;
    margin-left:20px;
}
#health {
background-color:goldenrod;
font-size: 35px;
display: inline-block;
margin:30px 0px 0px 90px;
border: 4px ridge #7f6515;
padding: 10px 40px;
}
#enemyHealth {
background-color: goldenrod;
font-size: 35px;
margin-left: 400px;
display: none;
border: 4px ridge #7f6515;
padding: 10px 40px;
}
#nordBio {
    display: none;
} 

#bioDiv {
line-height: 3.5;
}

#highElfBio {
    display: none;
}
#darkElfBio {
    display: none;
}
#woodElfBio {
    display: none;
}
#bretonBio {
    display: none;
}
#khajiitBio {
    display: none;
}
#argonianBio {
    display: none;
}
#orcBio {
    display: none;
}
/* ------------- Fight Scene 1 ------------- */

#fight-scene1 {
    display: none;
}
#enemyHealth {
    position: relative;
    left: 600px;
}
#enemyImg1{
    position: relative;
    width:250px;
    left:480px;
}
#avatarImg {
    width:250px;
    position: relative;
    left: 50px;
}
#choiceBtns{
    position:relative;
    left: 500px;
}
#arena1 {
    width:500px;
    position: relative;
    left:240px;

}
#restart{
    display:none;
    position: relative;
    left: 190px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}

/* --------Media--Query------*/
@media screen and (max-width:768px){

#characterMenu img{
        width: 180px;
    }

#characterMenu .col-sm-4{
    padding: 5px 5px;
}

#characterMenu a{
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
#characterMenu h1{
    text-align: center;
}
#characterMenu button{
    margin: 15px;
}

}