body {
    background-image: url("img/background.jpg");
    background-color: #cccccc;
}
img {
    width:200px;
    
}

* {
  box-sizing: border-box;
}

#characterMenu {}

#interface {
    display:none;
}
#interface h2{
    text-align:center;
}
/* ------------- Character Bio ------------- */
#nordBio {
    display: none;
}
#highElfBio {
    display: none;
}
#darkElfBio {
    display: none;
}
#woodElfBio {
    display: none;
}
#bretonBio {
    display: none;
}
#khajiitBio {
    display: none;
}
#argonianBio {
    display: none;
}
#orcBio {
    display: none;
}
#fight-scene {
    display: none;
}

#arena1 {
    width:500px;

}
.border {
margin-left: 20px;
margin-top: 20px;
}
.container {
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
 