body {
    background-image: url("img/background.jpg");
    background-color: #cccccc;
}
.border {
margin-left: 20px;
margin-top: 20px;
}
img {
    width:200px;
    
}

.container {
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
 